.image-35-icon {
  align-self: stretch;
  height: 11.625rem;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.montessori-prime-school {
  flex: 1;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 1.063rem;
  display: inline-block;
  max-width: 100%;
}
.frame-wrapper,
.montessori-prime-school-aims-p-wrapper {
  width: 28.813rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xl);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-wrapper {
  width: 36.25rem;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-xs);
}
.explore {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  line-height: 1.063rem;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 5.75rem;
}
.explore-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
}
.about-us,
.blogs,
.events,
.gallery {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 1.063rem;
  display: inline-block;
  min-width: 5.938rem;
  cursor: pointer;
}
.blogs,
.events,
.gallery {
  min-width: 5.188rem;
}
.blogs,
.events {
  min-width: 5rem;
}
.blogs {
  min-width: 4.438rem;
}
.virtual-tour {
  display: inline-block;
  min-width: 7.375rem;
}
.privacy-policy,
.virtual-tour {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 1.063rem;
  cursor: pointer;
}
.about-us-parent,
.frame-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.about-us-parent {
  gap: var(--gap-lg);
  font-size: var(--font-size-base);
}
.frame-container {
  gap: var(--gap-20xl);
  min-width: 8.313rem;
}
.mon-800-am,
.opening-hours {
  position: relative;
  letter-spacing: 0.02em;
}
.opening-hours {
  margin: 0;
  font-size: inherit;
  line-height: 1.063rem;
  font-weight: 700;
  font-family: inherit;
}
.mon-800-am {
  width: 13.75rem;
  line-height: 1.813rem;
  display: inline-block;
  white-space: nowrap;
}
.timings-row {
  width: 10.188rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.timings-row-wrapper {
  flex-direction: row;
  padding: 0 var(--padding-mini) 0 var(--padding-8xs);
  font-size: var(--font-size-base);
}
.frame-group,
.get-in-touch-wrapper,
.opening-hours-parent,
.timings-row-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.opening-hours-parent {
  flex-direction: column;
  gap: var(--gap-20xl);
  min-width: 11.438rem;
}
.frame-group,
.get-in-touch-wrapper {
  flex-direction: row;
  font-size: var(--font-size-5xl);
}
.frame-group {
  padding: 0 var(--padding-6xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-27xl);
  max-width: 100%;
}
.get-in-touch-wrapper {
  padding: 0 var(--padding-mid);
}
.imgicons8-3 {
  width: 1.563rem;
  height: 1.563rem;
  position: relative;
  object-fit: cover;
}
.imgicons8-3-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.frr5f3-bavupet-x {
  flex: 1;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 1.063rem;
}
.frame-wrapper1,
.group-div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-div {
  flex: 1;
  gap: var(--gap-8xs);
}
.frame-wrapper1 {
  align-self: stretch;
  padding: 0 0 var(--padding-9xs);
}
.imgicons8-4 {
  height: 1.563rem;
  width: 1.563rem;
  position: relative;
  object-fit: cover;
}
.contact-labels {
  position: relative;
  text-decoration: underline;
  letter-spacing: 0.02em;
  line-height: 1.063rem;
  color: inherit;
  white-space: nowrap;
}
.contact-labels-wrapper,
.imgicons8-4-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-labels-wrapper {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.imgicons8-4-parent {
  flex-direction: row;
  gap: var(--gap-4xs);
}
.imgicons8-5 {
  height: 1.563rem;
  width: 1.563rem;
  position: relative;
  object-fit: cover;
  flex-shrink: 0;
}
.infomontessorijnprimecom {
  position: relative;
  text-decoration: underline;
  letter-spacing: 0.02em;
  line-height: 1.063rem;
  color: inherit;
  flex-shrink: 0;
  white-space: nowrap;
}
.imgicons8-5-parent,
.infomontessorijnprimecom-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.infomontessorijnprimecom-wrapper {
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
}
.imgicons8-5-parent {
  flex-direction: row;
  gap: var(--gap-5xs);
}
.contact-details {
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs);
  gap: var(--gap-xl);
}
.contact-details,
.frame-div,
.frame-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame-parent1 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.frame-div {
  width: 17.563rem;
  justify-content: flex-end;
  padding: 0 0 var(--padding-7xs);
  box-sizing: border-box;
}
.footer,
.frame-parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent {
  flex: 1;
  align-items: flex-end;
  gap: var(--gap-60xl);
}
.footer {
  align-self: stretch;
  background-color: var(--color-gray);
  overflow: hidden;
  align-items: flex-start;
  padding: var(--padding-70xl) var(--padding-7xl);
  box-sizing: border-box;
  min-height: 34.375rem;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.testimonial-frame-parent,
.testimonial-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.testimonial-frame-parent {
  align-self: stretch;
  align-items: flex-start;
  max-width: 100%;
}
.testimonial-page {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  align-items: flex-end;
  padding: var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-8xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1350px) {
  .frame-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .frame-parent {
    gap: var(--gap-20xl);
  }
  .footer {
    padding-top: var(--padding-39xl);
    padding-bottom: var(--padding-39xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .explore {
    font-size: var(--font-size-lgi);
    line-height: 0.875rem;
  }
  .frame-container {
    flex: 1;
  }
  .opening-hours {
    font-size: var(--font-size-lgi);
    line-height: 0.875rem;
  }
  .opening-hours-parent {
    flex: 1;
  }
  .frame-group {
    flex-wrap: wrap;
    gap: var(--gap-4xl);
  }
  .frame-parent {
    gap: var(--gap-xl);
  }
}
