.aplpication-button-child1 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-hotpink);
}
.ellipse-icon5 {
  width: 1.363rem;
  height: 1.25rem;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;
}
.icon-container1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.application5 {
  position: relative;
  font-size: var(--font-size-mid);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  min-width: 6.313rem;
  z-index: 1;
}
.aplpication-button4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-xs);
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-4xs-7);
  z-index: 1;
}
