.primary-shape-icon {
  height: 12.438rem;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.primary-shape-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-20xl);
}
.frame-child14 {
  height: 3.125rem;
  width: 23.844rem;
  position: absolute;
  margin: 0 !important;
  top: -0.531rem;
  left: -3.75rem;
}
.pre-primary-wing {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 2.375rem;
  font-weight: 800;
  z-index: 1;
}
.frame-wrapper52,
.vector-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.vector-group {
  flex: 1;
  justify-content: flex-start;
  position: relative;
}
.frame-wrapper52 {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-24xl) 0 var(--padding-25xl);
}
.a-variety-of {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.02em;
  line-height: 1.438rem;
  color: var(--color-black);
}
.frame-parent102 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs);
  gap: var(--gap-2xs);
}
.classes-jrkg-to {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 1.438rem;
}
.classes-jrkg-to-srkg-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0 var(--padding-10xs);
  font-size: var(--font-size-base);
}
.child-card-wrapper,
.child-card1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.child-card1 {
  align-self: stretch;
  background-color: var(--color-white);
  overflow: hidden;
  align-items: flex-end;
  padding: var(--padding-37xl) var(--padding-9xl) var(--padding-47xl);
  gap: var(--gap-lgi);
}
.child-card-wrapper {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  min-width: 19.188rem;
  max-width: 100%;
  flex-shrink: 0;
}
.elementary-shape-holder {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-34xl);
}
.frame-child15 {
  width: 23.844rem;
  position: relative;
  max-height: 100%;
  max-width: 100%;
}
.primary-wing {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  line-height: 2.375rem;
  font-weight: 800;
  font-family: inherit;
  z-index: 1;
}
.primary-wing-wrapper,
.vector-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.primary-wing-wrapper {
  width: 12.625rem;
  flex-direction: column;
  padding: var(--padding-4xs-5) 0 0;
  box-sizing: border-box;
  margin-left: -18.094rem;
}
.vector-container {
  align-self: stretch;
  flex-direction: row;
  max-width: 100%;
}
.the-primary-wing {
  flex: 1;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 1.438rem;
  display: inline-block;
  max-width: 100%;
}
.elementary-description-holder {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-smi) 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.elementary-shape-holder-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-2xs);
  max-width: 100%;
}
.grade-i-to {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 1.438rem;
  display: inline-block;
  min-width: 5.938rem;
}
.grade-i-to-v-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-5xl);
  font-size: var(--font-size-base);
}
.child-card-container,
.child-card2,
.children-cards {
  flex-shrink: 0;
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.child-card2 {
  flex: 0.9317;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-35xl) var(--padding-mini) var(--padding-50xl)
    var(--padding-smi);
  gap: var(--gap-4xl);
  min-width: 19.188rem;
  color: var(--color-crimson-100);
}
.child-card-container,
.children-cards {
  align-items: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.child-card-container {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 19.188rem;
  font-size: var(--font-size-2xl);
  color: var(--color-orange);
}
.children-cards {
  width: 76.875rem;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-12xs-5);
  z-index: 1;
  text-align: center;
  font-size: var(--font-size-9xl);
  color: var(--color-cadetblue);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .children-cards {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 825px) {
  .child-card1,
  .child-card2 {
    padding-top: var(--padding-17xl);
    padding-bottom: var(--padding-24xl);
    box-sizing: border-box;
  }
  .child-card2 {
    padding-top: var(--padding-16xl);
    padding-bottom: var(--padding-26xl);
  }
}
@media screen and (max-width: 450px) {
  .pre-primary-wing {
    font-size: var(--font-size-3xl);
    line-height: 1.875rem;
  }
  .elementary-shape-holder,
  .frame-wrapper52 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .primary-wing {
    font-size: var(--font-size-3xl);
    line-height: 1.875rem;
  }
  .child-card2 {
    flex: 1;
  }
}
