.contact-us1,
.home-contact-container {
  width: 10.375rem;
  position: relative;
  display: inline-block;
}
.contact-us1 {
  margin: 0;
  width: 25.375rem;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  flex-shrink: 0;
  max-width: 100%;
}
.contact-us-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-29xl);
}
.image-36-icon1 {
  width: 2.588rem;
  height: 2.588rem;
  position: absolute;
  margin: 0 !important;
  bottom: 3.056rem;
  left: 9.044rem;
  object-fit: contain;
}
.home-contact-group {
  align-self: stretch;
  background-color: var(--color-seashell);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-15xl) var(--padding-22xl) var(--padding-76xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-24xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 800px) {
  .contact-us1 {
    font-size: var(--font-size-19xl);
  }
  .home-contact-group {
    gap: var(--gap-2xl);
  }
}
@media screen and (max-width: 450px) {
  .contact-us1 {
    font-size: var(--font-size-10xl);
  }
}
