.image-51-icon {
  position: absolute;
  height: 90.67%;
  width: 42.39%;
  top: 5.88%;
  right: 57.61%;
  bottom: 3.45%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-51-parent {
  align-self: stretch;
  height: 30.813rem;
  position: relative;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
