.icon-shape-1 {
  height: 6.438rem;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.icon2 {
  height: 4rem;
  width: 4rem;
  position: absolute;
  margin: 0 !important;
  top: 1.188rem;
  left: 1.875rem;
  object-fit: cover;
  z-index: 1;
}
.icon-shape-1-parent {
  width: 8.125rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.residential-and-day-scholar-inner {
  width: 19rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.integrated-cbse-curriculum {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.our-school-follows {
  flex: 1;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 1.25rem;
  font-weight: 200;
}
.our-school-follows-cbse-curric-wrapper {
  width: 18.563rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-smi);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-xs);
}
.integrated-cbse-curriculum-parent,
.residential-and-day-scholar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.integrated-cbse-curriculum-parent {
  align-self: stretch;
  gap: var(--gap-9xl);
}
.residential-and-day-scholar {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-deepskyblue);
  box-sizing: border-box;
  overflow: hidden;
  padding: var(--padding-37xl) var(--padding-8xl) var(--padding-90xl)
    var(--padding-21xl);
  gap: var(--gap-25xl);
  min-width: 21rem;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-4xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .residential-and-day-scholar {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .integrated-cbse-curriculum {
    font-size: var(--font-size-lg);
  }
  .residential-and-day-scholar {
    gap: var(--gap-3xl);
    padding-top: var(--padding-17xl);
    padding-bottom: var(--padding-52xl);
    box-sizing: border-box;
  }
}
